.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

#video-controls {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	background-color: black;
	padding: 0.5em 1em;

}

video,
#captions,
#video-controls {
	width: 100%;
	max-width: 900px;
	max-height: 506px;
}

#progress {
	width: 100%;
	flex-grow: 1;
	height: 4px;
	margin-bottom: 4px;
}

#playpause {
	width: 22px;
	height: 26px;
	background: url("../icons/play-icon.png");
	border: none;
	margin-right: auto;
	outline: none;
}

#volume {
	width: 22px;
	height: 22px;
	background: url("../icons/volume-on-icon.png");
	border: none;
	margin: 0 0.5em;
	outline: none;
}

#fullscreen {
	width: 22px;
	height: 22px;
	background: url("../icons/fullscreen-icon.png");
	border: none;
}
