/* MAIN LAYOUT STYLES */

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 0.5em;
}

#video,
#captions,
#video-controls {
	width: 100%;
	max-width: 900px;
	max-height: 506px;
}

/* needed to get full screen in webkit browsers rather than overlay */
#video:-webkit-full-screen {
	width: 100%;
	height: 100%;
}


/* CONTROLS LAYOUT STYLES */

#video-controls {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0.5em 1em;
	margin-top: -15px;
	z-index: 10;
}

#controls-buttons {
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* Shows video controls on hover */
/*
#video:hover + #video-controls,
#video-controls:hover {
	display: flex;
}


#video:hover > #controls-buttons,
#video-controls + #controls-buttons,
#controls-buttons:hover {
	display: flex;
}

*/

#video:hover + #video-controls {
	margin-top: -50px;
}


#video:hover + #video-controls #controls-buttons,
#video-controls:hover #controls-buttons,
#progress:hover + #controls-buttons,
#controls-buttons:hover {
	display: flex;
}

#controls-buttons:active {
	display: flex;
}



/* TRANSCRIPT STYLES */

#captions {
	box-sizing: border-box;
	padding: 1em;
}

.caption:hover {
	cursor: pointer;
	color: orange;
}

/* script applies this style to captions as video plays */
.highlight {
	color: orange;
}


/* PROGRESS AND BUFFER STYLES */

#progress,
#buffer {
	width: 100%;
	/*flex-grow: 1;*/
	height: 4px;
	margin-bottom: 4px;
}

/* moves buffer bar under progress bar */
#buffer {
	margin-bottom: -4px;
}

/* gives progress bar higher index than other controls */
#progress {
	z-index: 11;
}

#progress[value],
#buffer[value] {
	-webkit-appearance: none;
	appearance: none;
	border: none;
}

#progress::-webkit-progress-bar {
	background: transparent;
}

#progress::-webkit-progress-value {
	background-color: orange;
}

#buffer::-webkit-progress-bar {
	background-color: white;
}

#buffer::-webkit-progress-value {
	background-color: #FFF1D6;
}

/*
#progress[value]::-webkit-progress-value {
	background-color: orange;
}


#buffer[value]::-webkit-progress-value {	
	background-color: #FFF1D6;
}
*/

/* CONTROLS BUTTONS AND TIMER STYLES */

#playpause {
	width: 22px;
	height: 26px;
	background: url("../icons/play-icon.png");
	border: none;
	outline: none;
	margin: 0 0.5em 0 0;
}

#timer,
#end-time {
	height: 26px;
	font-family: Arial, sans-serif;
	font-size: 1em;
	color: #fff;
	align-self: center;
}

#end-time {
	margin-right: auto;
}

label {
	font-family: Arial, sans-serif;
	color: #fff;
}

#playspeed[orient=vertical] {
	-webkit-appearance: slider-vertical;
	height: 2em;
	width: 1em;
	margin: 0 0.5em 0 0.25em;
}

#cc {
	width: 22px;
	height: 22px;
	margin: 0 0.5em;
	border: 2px solid white;
	background: none;
	outline: none;
	color: white;
	border-radius: 2px;
	font-size: 0.75em;
	padding: 1px;
}

#volume {
	width: 22px;
	height: 22px;
	background: url("../icons/volume-on-icon.png");
	border: none;
	margin: 0 0.5em;
	outline: none;
}

#fullscreen {
	width: 22px;
	height: 22px;
	background: url("../icons/fullscreen-icon.png");
	border: none;
	margin-left: 0.5em;
}
